/*
input:checked~label ::after {
    left: 600px;
    transform: translateX(-100);
    background: #777ba5;

}

input:checked~label::before {
    left: 600px;
    border: 18px solid rgba(90, 79, 136, 0.2);
    transform: translateX(-100%);
}

input:checked~label {
    background: url('img/logo1.png');
    background-size: cover;
    background-position: center;
    border: 18xp solid rgba(90, 79, 136, 0.2);
}

.btn-a {
    display: inline-block;
    margin: 30px 0xp;
    font-size: 20xp;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #777ba5;
    padding: 20xp 35xp;

}

.btn-neon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    border-radius: .6em;
    background-color: var(--glow-color);
    transition: opacity 100ms linear;
}*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /*background: #031321;*/
    font-family: consolas;
    background: #031321;
    background: -webkit-linear-gradient(to right, #112652, #28427e);
    background: linear-gradient(to right, #112652, #28427e);
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    Letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: .6em;
}

a sanp {
    position: absolute;
    display: block;
}

a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.4s;
}

/*
a span:nth-child(1) {
    top: 0;
    Left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient (90deg, transparent, #2196f3);
    animation: 1s linear infinite;
    animation-delay: .75s;
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient (270deg, transparent, #2196f3);
    animation: 1s linear infinite;
    animation-delay: .75s;
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2xp;
    height: 100%;
    background: linear-gradient (180deg, transparent, #2196f3);
    animation: 1s linear infinite;
    animation-delay: .75s;
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2xp;
    height: 100%;
    background: linear-gradient (360deg, transparent, #2196f3);
    animation: 1s linear infinite;
    animation-delay: .75s;
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
*/

input {
    position: relative;
    display: inline-block;
    padding: 8px 60px;
    color: #2196f3;
    text-transform: none;
    Letter-spacing: 2px;
    text-decoration: none;
    font-size: 13px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: .6em;
}

input sanp {
    position: absolute;
    display: block;
}


input:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.4s;
}

.input_email {
    position: relative;
    display: inline-block;
    padding: 8px 60px;
    color: #2196f3;
    text-transform: lowercase;
    Letter-spacing: 2px;
    text-decoration: none;
    font-size: 13px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: .6em;
}

select {
    position: relative;
    display: inline-block;
    padding: 8px 60px;
    color: #2196f3;
    text-transform: capitalize;
    Letter-spacing: 2px;
    text-decoration: none;
    font-size: 13px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: .6em;
}

select:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.4s;
}

/*
input span:nth-child(1) {
    top: 0;
    Left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient (90deg, transparent, #2196f3);
}

input:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

input span:nth-child(3) {
    bottom:  0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient (270deg, transparent, #2196f3);
}

input:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

input span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2xp;
    height: 100%;
    background: linear-gradient (180deg, transparent, #2196f3);
}

input:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

input span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2xp;
    height: 100%;
    background: linear-gradient (360deg, transparent, #2196f3);
}

input:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
*/